body{
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#031321;
    font-family: consolas;
}
a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color:
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration:none;
    font-size:24px;
    overflow:hidden;
    transition: 0.9s;
}
a:hover{
    color:black;
    background:#2196f3;
    box-shadow:  0 0 10px #2196f3, 0 0 40px #2196f3,  0 0 80px #2196f3;
    transition-delay: 0.1s;
}
/*a span{
    position: absolute;
    display:block;
}
a span:nth :nth-child(1){
    top:0;
    left:-100px;
    width:100px;
    height:2px;
    background: linear-gradient(90deg,transparent,#2196f3);
}
a:hover span:nth-child(1){
	color: black;
    left:100%;
    transition:1s;
    transition-delay:0.5s;
}*/

